@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
  
  --color-primary-50: #effdf5;
  --color-primary-100: #d8fbea;
  --color-primary-200: #b5f5d5;
  --color-primary-300: #7beab8;
  --color-primary-400: #3ed394;
  --color-primary-500: #1ab775;
  --color-primary-600: #0f935d;
  --color-primary-700: #0e754d;
  --color-primary-800: #0e5c3e;
  --color-primary-900: #0d4d35;
  --color-primary-950: #062b1e;
  
  --color-brand-50: #eff4ff;
  --color-brand-100: #dbe6fe;
  --color-brand-200: #bfd3fe;
  --color-brand-300: #93bbfd;
  --color-brand-400: #609afa;
  --color-brand-500: #3b76f6;
  --color-brand-600: #2559eb;
  --color-brand-700: #1d46c8;
  --color-brand-800: #1e3a9f;
  --color-brand-900: #1e357f;
  --color-brand-950: #17224d;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

html {
  scroll-behavior: smooth;
}
